<!-- Início do conteúdo -->
<div class="content-wrapper">
  <div class="container">

    <section class="content-header">
    </section>
    
    <section class="content">
      <div class="jumbotron welcome-jumbotron">
        <h1>Bem vindo</h1>
        <p>
          Sou Precoce<br>
              <br>
              <br>

          Nome: Yuri José Veras de Oliveira<br>
          Idade: 18           <br>
          Estado Civil: Solteiro <br>
          Data de Nascimento: 22/11/2000 <br>
          

        </p>
        
      </div>
    </section>
   
  </div>
</div>
<!-- Fim do conteúdo -->